@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e6f2f5;
}

.bordered {
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.bordered-btn {
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #d1d5db;
  cursor: pointer;
}

.bordered-btn:hover {
  filter: brightness(1.1);
}

.bordered-btn:active {
  filter: brightness(0.9);
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.search-btn {
  font-size: small;
  padding: 10px 30px;
}

.search-bar {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.post-btn {
  font-size: medium;
  padding: 5px 20px;
}

.info-btn {
  font-size: medium;
  padding: 5px 10px;
  margin-top: 5px;
}

.login-btn {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: x-large;
  background-color: #009fac;
  color: #f8fbfc;
}

.input-field {
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.input-field:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.login-container {
  gap: 1.5rem;
}

.login-header {
  font-size: xx-large;
}

.login-subtitle {
  font-size: large;
}

.register-btn {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: x-large;
  background-color: #009fac;
  color: #f8fbfc;
  border: none;
}

.no-account-btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: medium;
  border: none;
}

.create-btn {
  font-size: small;
  padding: 10px 20px;
}

.create-post-btn {
  font-size: large;
  padding: 10px 30px;
}

.create-post-font {
  font-size: x-large;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

.table-header {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: medium;
}

.drug-label {
  font-family: "Nunito", sans-serif;
  font-size: small;
  background-color: #009fac;
  color: #f8fbfc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-left: 10px;
}

.alter-btn {
  font-size: medium;
  padding: 5px 10px;
}

.btn-container {
  row-gap: 5px;
}

.table-search-input {
  padding: 10px 5px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.table-search-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}
